






<!-- <h1>Login Form </h1>
<div class="login-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="Enter username"
        />
      </div>
  
      <div class="form-group">
        <label for="password" >Password</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Enter password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  

<h1>Signup Form</h1>
<div class="signup-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="Enter username"
        />

      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="Enter email"
        />

      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Enter password"
        />
  </div>
     
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          placeholder="Confirm password"
        />

  
      <div class="form-group">
        <label>
          <input
            type="checkbox"
            formControlName="agree"
          />
          I agree to the terms and conditions
        </label>
      </div>
  
      <button type="submit" class="btn btn-primary" >Sign Up</button>
    </form>
  </div>


  <form class="form-inline">
    <div class="form-group mb-2">
      <label for="staticEmail2" class="sr-only">Email</label>
      <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
  </form>
  
  <button type="button" class="btn btn-primary p-5">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  
  <button type="button" class="btn btn-link">Link</button> -->
