*{
   margin:0px;
   padding:0px;
}
body{
    margin:10px;
    width: 100%;
    height:100px;
    padding: 20px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    background-position: center;

    font-size : 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:600 ;
    font-style:normal;
}

h1{
    font: 20px "Fira sans",sans-serif;
}

.logo{
    background-color: rgb(86,91,91) ;
    opacity: 0.80;
    color:white;
    margin: 0;

}
/* 
.logo-row-2{
    background-color: rgb(86,91,91) ;
    opacity: 0.80;
    color:white
} */
div{
    margin:5px;
    padding:5px;
    border-radius: 20px;
}
.containerq{
    margin-top: 5px;
    padding:10px;
    border: 2px solid black;

}

div>div{
    border: 2px solid white;
    border-radius: 0px;
} 

.nobod{
    border: 0px;
}

.headingtags-table-row1{
    background-color: rgb(200, 250, 150);
    color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;    
}
.headingtags-table-row2{
    background-color: rgb(197, 231, 158);
    color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;    
}
.row1{
    background-color: rgb(154, 255, 186);
    color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius: 20px;
    
}
.row1col1,.row1col2,.row1col3,.row1col4,.row1col5{
    border-radius:20px;
}

.row2{
    background-color:rgb(229, 219, 255);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius: 20px;
}
.row2col1,.row2col2,.row2col3,.row2col4,.row2col5{
    border-radius:20px;
}


.row3{
    background-color:rgb(253, 188, 147);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}

.row3col1,.row3col2,.row3col3,.row3col4,.row3col5{
    border-radius:20px;

}

.row4{
    background-color:rgb(255, 238, 184);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}
.row4col1,.row4col2,.row4col3,.row4col4,.row4col5{
    border-radius:20px;

}
.row5{
    background-color:rgb(179, 236, 246);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}
.row5col1,.row5col2,.row5col3,.row5col4,.row5col5{
    border-radius:20px;

}
.row6{
    background-color:rgb(136, 213, 235);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}
.row6col1,.row6col2,.row6col3,.row6col4,.row6col5{
    border-radius:20px;

}
.row7{
    background-color:rgb(221, 255, 215);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}
.row7col1,.row7col2,.row7col3,.row7col4,.row7col5{
    border-radius:20px;

}
.row8{
    background-color:rgb(221, 255, 215);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}
.row8col1,.row8col2,.row8col3,.row8col4,.row8col5{
    border-radius:20px;

}
.row9{
    background-color:rgb(221, 255, 215);
    color:black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius:20px;
}
.row9col1,.row9col2,.row9col3,.row9col4,.row9col5{
    border-radius:20px;

}